Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longers checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
    - repo: local
      hooks:
          - id: black
            name: formatting::black
            entry: poetry run black
            language: system
            types: [python]
          - id: isort
            name: formatting::isort
            entry: poetry run isort -rc
            language: system
            types: [python]
    - repo: local
      hooks:
          - id: flake8
            name: linting::flake8
            entry: poetry run flake8
            language: system
            types: [python]
            exclude: example 
fail_fast: true

fix: default dimension creation now happens when metrics are serialized instead of on metrics constructor (#74)
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metrics.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

chore: version bump 0.10.1
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.11.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.11.0 (#76)
  CHANGELOG.md
  pyproject.toml
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

docs: clean up contributing guide
  CONTRIBUTING.md
Due: none

docs: add local documentation section
  CONTRIBUTING.md
Due: none

feat: experiment with Gitpod pre-build env
  .gitpod.Dockerfile
  .gitpod.yml
  CONTRIBUTING.md
Due: none

fix: unnecessary exc_info in example exception
  example/hello_world/app.py
Due: black, isort

docs: add conventions we use across the project
  CONTRIBUTING.md
Due: none

chore: remove gitpod due to poetry issue
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

chore: develop branch in bold
  CONTRIBUTING.md
Due: none

chore: add link to RFC issue, fix typo
  CONTRIBUTING.md
Due: none

chore: remove Logger deprecated code
  aws_lambda_powertools/logging/__init__.py
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: remove Metrics deprecated code
  aws_lambda_powertools/helper/models.py
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/exceptions.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

chore: remove models from deprecated code
  aws_lambda_powertools/helper/__init__.py
  aws_lambda_powertools/logging/__init__.py
  aws_lambda_powertools/logging/lambda_context.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
Due: black, isort, flake8

chore: move logger formatter to its own file
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore: address Nicolas feedback on PR link
  CONTRIBUTING.md
Due: none

chore: move blockquotes as hidden comments
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: customize contributing guide (#77)
  CONTRIBUTING.md
  example/hello_world/app.py
Due: black, isort

chore: cleanup metrics tests
  tests/functional/test_metrics.py
Due: black, isort, flake8

chore: cleanup tracer tests
  tests/functional/test_tracing.py
Due: black, isort, flake8

chore: remove deprecated code before GA (#78)
  aws_lambda_powertools/helper/__init__.py
  aws_lambda_powertools/helper/models.py
  aws_lambda_powertools/logging/__init__.py
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/lambda_context.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/exceptions.py
  aws_lambda_powertools/metrics/metric.py
  tests/functional/test_logger.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

chore: cleanup logger tests
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: cleanup tracer tests
  aws_lambda_powertools/tracing/tracer.py
  tests/unit/test_tracing.py
Due: black, isort, flake8

chore: set test coverage to 90% min
  pyproject.toml
Due: none

feat: add metrics metadata #80
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metrics.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

docs: add metrics metadata #80
  docs/content/core/metrics.mdx
Due: none

chore: refactor metric serialization
  aws_lambda_powertools/metrics/base.py
Due: black, isort, flake8

improv: test metadata with log_metrics
  tests/functional/test_metrics.py
Due: black, isort, flake8

improv: test serialize metric with valid EMF object
  tests/functional/test_metrics.py
Due: black, isort, flake8

chore: cleanup tests (#79)
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/tracing/tracer.py
  pyproject.toml
  tests/functional/test_logger.py
  tests/functional/test_metrics.py
  tests/functional/test_tracing.py
  tests/unit/test_tracing.py
Due: black, isort, flake8

feat: add metrics metadata (#81)
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metrics.py
  docs/content/core/metrics.mdx
  tests/functional/test_metrics.py
Due: black, isort, flake8

chore: add amplify dep
  docs/package-lock.json
  docs/package.json
Due: none

feat: add anonymized click stream to docs view
  docs/gatsby-browser.js
  docs/src/config.js
Due: none

feat: docs anonymized page view (#82)
  docs/gatsby-browser.js
  docs/package-lock.json
  docs/package.json
  docs/src/config.js
Due: none

chore: add missing ':' and identation in examples
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/tracing/tracer.py
  docs/content/core/logger.mdx
  docs/content/core/tracer.mdx
Due: black, isort, flake8

chore: bump version and remove beta/RC status
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

docs: add quick helpful links to the top
  README.md
Due: none
