Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longers checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
    - repo: local
      hooks:
          - id: black
            name: formatting::black
            entry: poetry run black
            language: system
            types: [python]
          - id: isort
            name: formatting::isort
            entry: poetry run isort -rc
            language: system
            types: [python]
    - repo: local
      hooks:
          - id: flake8
            name: linting::flake8
            entry: poetry run flake8
            language: system
            types: [python]
            exclude: example 
fail_fast: true

improv: logger inheritance via child param
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

improv: update tests
  tests/functional/test_logger.py
Due: black, isort, flake8

improv: logger test utility no longer necessary
  tests/functional/utility_functions.py
Due: black, isort, flake8

improv: make test name more descriptive
  tests/functional/test_logger.py
Due: black, isort, flake8

fix: remove logger utility as it's no longer used
  tests/functional/test_aws_lambda_logging.py
Due: black, isort, flake8

fix: address feedback on consistency
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

improv: turn log_level input case insensitive
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: add unreleased changes to Logger
  CHANGELOG.md
Due: none

docs: adds reusing logger across your code section
  docs/content/core/logger.mdx
Due: none

feat: add support for logger inheritance (#99)
  CHANGELOG.md
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/content/core/logger.mdx
  tests/functional/test_aws_lambda_logging.py
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: bump to 1.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump to 1.1.0 (#101)
  CHANGELOG.md
  pyproject.toml
Due: none

chore: trigger docs on new release
  .github/workflows/python_docs.yml
Due: none

chore: trigger docs on new release (#102)
  .github/workflows/python_docs.yml
Due: none

chore: trigger docs on new release (#102) (#103)
  .github/workflows/python_docs.yml
Due: none

chore: fix test level typo
  tests/functional/test_logger.py
Due: black, isort, flake8

fix: add test covering logging constant
  tests/functional/test_logger.py
Due: black, isort, flake8

fix: return log level int immediately
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore: fix docstring on level [str,int] consistency
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore: fix unused fixture
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: bump patch version
  CHANGELOG.md
  pyproject.toml
Due: none

revert: log level docstring as str
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

improv: add test on env var as int
  tests/functional/test_logger.py
Due: black, isort, flake8

docs: clarify auto_patch as per #108
  docs/content/core/tracer.mdx
Due: none

chore: update Tracer docs as per #108
  CHANGELOG.md
Due: none

fix: return subclass #107
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

improv: cover log statement location
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: remove unused stdout fixture
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: add autocomplete as unreleased
  CHANGELOG.md
Due: none

chore: suppress LGTM alert
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore: bump version to 1.1.2
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add support for tracing of generators using capture_method decorator
  aws_lambda_powertools/tracing/tracer.py
  tests/functional/test_tracing.py
  tests/unit/test_tracing.py
Due: black, isort, flake8

fix: ensure tracer config is reset before example test runs
  example/tests/test_handler.py
Due: black, isort

chore: split parameter utilities into smaller files
  aws_lambda_powertools/utilities/parameters/__init__.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/exceptions.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

feat: use botocore.config.Config for parameter providers
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

feat: make arguments explicits in parameter utilities
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/ssm.py
Due: black, isort, flake8

docs: add examples for parameter utilities
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
Due: black, isort, flake8

feat: add override SDK options for parameter utilities
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

docs: add examples for shorthands in the parameter utility
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
Due: black, isort, flake8

fix: fix typo in DynamoDB parameter example
  aws_lambda_powertools/utilities/parameters/dynamodb.py
Due: black, isort, flake8
