Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort -rc
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

chore: Remove accidental checkin
  examples/__init__.py
Due: black, isort

docs(idempotency): Correct examples and line highlights
  docs/utilities/idempotency.md
Due: none

docs: Add link to idempontency docs
  README.md
Due: none

docs(idempotency): Correct examples and line highlights (#312)
  README.md
  docs/utilities/idempotency.md
  examples/__init__.py
Due: black, isort

fix(idempotency): Handle save_inprogress errors as a IdempotencyPersistenceLayerError
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

chore: Correct docs for test
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

fix(idempotency): Correctly handle save_inprogress errors (#313)
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

docs(metrics): Corrections to the code examples
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
Due: black, isort, flake8

fix(idempotency): is_missing_idempotency_key and int
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

docs(metrics): Corrections to the code examples (#314)
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metric.py
  aws_lambda_powertools/metrics/metrics.py
Due: black, isort, flake8

refactor: Broke logic into multiple lines
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

refactor: Clean up ifs
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, isort, flake8

refactor: Rely on python truthy
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, isort, flake8

refactor: Even simplier
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, isort, flake8

fix(idempotency): TypeError when calling is_missing_idempotency_key with an int (#315)
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

docs(metrics): Correct code examples in markdown
  docs/core/metrics.md
Due: none

docs(metrics): Correct code examples in markdown (#316)
  docs/core/metrics.md
Due: none

docs: Correct code examples
  aws_lambda_powertools/middleware_factory/exceptions.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/sqs.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/utilities/data_classes.md
  docs/utilities/idempotency.md
Due: black, isort, flake8

docs: Fix typo for sampling rate
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

docs: Correct code examples (#317)
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/middleware_factory/exceptions.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/sqs.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/utilities/data_classes.md
  docs/utilities/idempotency.md
Due: black, isort, flake8

refactor(parameters): Contistently reference env
  aws_lambda_powertools/utilities/parameters/appconfig.py
Due: black, isort, flake8

chore: bump ci
  docs/utilities/parameters.md
Due: none

docs(metrics): remove minimum dimensions
  docs/core/metrics.md
Due: none

refactor: Apply suggestions from code review
  aws_lambda_powertools/utilities/parameters/appconfig.py
Due: black, isort, flake8

fix: Add missing import
  aws_lambda_powertools/utilities/parameters/appconfig.py
Due: black, isort, flake8

refactor: Use resolve_env_var_choice
  aws_lambda_powertools/tracing/tracer.py
Due: black, isort, flake8

refactor(parameters): Consistently reference env (#319)
  aws_lambda_powertools/tracing/tracer.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  docs/utilities/parameters.md
Due: black, isort, flake8

chore: remove gatsby mention as migrated completed
  README.md
Due: none

feat(logging): Include exception_name
  aws_lambda_powertools/logging/formatter.py
Due: black, isort, flake8

tests(logging): Add test for exception_name
  tests/functional/test_logger.py
Due: black, isort, flake8

docs(logging): Add note on exception_name
  docs/core/logger.md
Due: none

feat(logging): Include exception_name (#320)
  aws_lambda_powertools/logging/formatter.py
  docs/core/logger.md
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: add PR auto-label action
  .github/auto-label.json
  .github/labeler.yml
  .github/workflows/auto-label.yml
Due: none

chore: add PR size labelling action
  .github/workflows/auto-label.yml
Due: none

feat(logging): inject correlation_id
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: Bump CI
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore: add PR size labelling action # 2
  .github/workflows/auto-label.yml
Due: none

chore: increase perf SLA due to slow GitHub Actions machine
  tests/performance/test_metrics.py
Due: black, isort, flake8

feat(logger): Add set_correlation_id
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: Remove _get_correlation_id_path
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
